.vscode/
.idea/
.DS_Store
__pycache__/
pebble_search/__pycache__/
scripts/__pycache__/
utils/__pycache__/
*.mp4
tasks/*tasklog.txt
tasks/result.txt
tasks/*.txt
tasks/xml/result.txt
tasks/xml/*_log.xml
